.form-group video{
    // width: 1070px;
    // max-height: 550px!important;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0%);
    cursor: pointer;
    object-fit: cover;
}