<div class="modal-dialog modal-xl m-0">
    <div class="modal-content">
        <div class="modal-header p-1 bg-theam">
            <h3 class="modal-title h3 m-1">Image Gallary</h3>
        </div>
        <div class="modal-body p-2">
            <div>
                <div class="row form-row m-0">
                    <div class="col-md-4 col-sm-12 mb-3">
                        <div class="text-center">
                            <img src="../../../assets/images/image1.jpeg" class="rounded img-fluid w-100" alt="...">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 mb-3">
                        <div class="text-center">
                            <img src="../../../assets/images/image2.jpeg" class="rounded img-fluid w-100" alt="...">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 mb-3">
                        <div class="text-center">
                            <img src="../../../assets/images/image3.jpeg" class="rounded img-fluid w-100" alt="...">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 mb-3">
                        <div class="text-center">
                            <img src="../../../assets/images/image2.jpeg" class="rounded img-fluid w-100" alt="...">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 mb-3">
                        <div class="text-center">
                            <img src="../../../assets/images/image3.jpeg" class="rounded img-fluid w-100" alt="...">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 mb-3">
                        <div class="text-center">
                            <img src="../../../assets/images/image1.jpeg" class="rounded img-fluid w-100" alt="...">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 mb-3">
                        <div class="text-center">
                            <img src="../../../assets/images/image3.jpeg" class="rounded img-fluid w-100" alt="...">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 mb-3">
                        <div class="text-center">
                            <img src="../../../assets/images/image2.jpeg" class="rounded img-fluid w-100" alt="...">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 mb-3">
                        <div class="text-center">
                            <img src="../../../assets/images/image1.jpeg" class="rounded img-fluid w-100" alt="...">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 mb-3">
                        <div class="text-center">
                            <img src="../../../assets/images/image3.jpeg" class="rounded img-fluid w-100" alt="...">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 mb-3">
                        <div class="text-center">
                            <img src="../../../assets/images/image2.jpeg" class="rounded img-fluid w-100" alt="...">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 mb-3">
                        <div class="text-center">
                            <img src="../../../assets/images/image1.jpeg" class="rounded img-fluid w-100" alt="...">
                        </div>
                    </div>


                </div>
            </div>


        </div>
        <div class="modal-footer p-1">
            <button type="button" class="btn btn-danger" (click)="bsModalSer.hide(1)" aria-label="Close">Close</button>
        </div>
    </div>