@import "variable";

.bg-theam-1{
    background-color: $color2;
}

.cursor-pointer {
    cursor: pointer;
}
.bg-theam-2{
    background-color: $color1;
}
.navbar-nav{
    .nav-link{
        font-size: 16px;
        color: #fff;
        &:hover {
            font-size: 16px;
            color: #fff;
        }
        &.active{
            font-size: 16px;
            color: #fff;
            background-color: $color4;
        }
    }
}

// .navbar-nav .show > .nav-link, .navbar-nav .nav-link.active {
//     color: #fff;
// }

