
.video-icon{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
    cursor: pointer;


    // background-color: rgb(236, 92, 92);
    // border-radius: 50%;
    // animation-name: ripple;
    // animation-duration: 1.5ms;
    // animation-iteration-count: infinite;
    // animation-fill-mode: both;
}
// .video-icon {
//    @keyframes ripple {
//     0%{
//         box-shadow: 0 0 0 0 #fff4, 0 0 0 0 #fff4;
//     }
//     80%{
//         box-shadow: 0 0 0 0 20px #ffff, 0 0 0 0 20px #ffff;
//     }
//     100%{
//         box-shadow: 0 0 0 0 #fff0, 0 0 0 0 #fff0;
//     }
//    }
// }